/* General Reset and Font Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
:root {
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --secondary-color: #ffffff;
    --secondary-shade: #4b4c4c;
    --red-color: #d40700;
    --red-shade: #b20600;
    --accent-color: var(--primary-color);
    
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}
a:hover{
    color:rgb(94, 94, 141);
}

/* Header Styling */
header {
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: var(--primary-color);
}

.nav-bar {
    padding: 30px 0;
}

span {
    color: var(--red-color);
}
a{
    color: #8fe1e4;
    text-decoration: none;
}

ul li a {
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

ul li a::before {
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.6s ease;
}

ul li a:hover::before {
    width: 100%;
}

/* Button Styling */
.btn {
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--red-shade);
    color: var(--primary-shade);
    border: 1px solid var(--red-shade);
}

/* Layout and Flexbox Utilities */
.layout {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.f-w-500 {
    font-weight: 500;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-700 {
    font-weight: 700;
}

.letter-spacing2 {
    letter-spacing: 2px;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.my-t-10 {
    margin-top: 10px;
}

.my-t-20 {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.w55 {
    width: 55%;
}

.pd-t-30 {
    padding-top: 30px;
}

/* Additional Styling */
.content {
    height: 90vh;
    position: relative;
}

.right img {
    position: relative;
    width: 95%;
    z-index: 999;
    cursor: pointer;
    transition: filter 0.3s ease; 
}

.right img:hover {
    filter: drop-shadow(16px 5px 20px rgb(200, 199, 115));
}

h4, h3, p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.color-box {
    width: 500px;
    height: 500px;
    border: 50% solid red;
    transform: rotate(48deg);
    position: absolute;
    top: 120px;
    right: 20px;
    z-index: 1;
    pointer-events: none;
}

/* About Section */ 

.about-me-sec {
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #1e3536, #2b3532);
    color: var(--primary-color);
}

.about-me-sec hr {
    border: 2px solid red;
    margin-bottom: 2rem;
}

.about-content img {
    width: 95%;
    transform: scaleX(-1);
}

.about-content ul {
    margin-top: 25px;
    margin-bottom: 10px;
}

.about-content span {
    color: var(--red-color);
}

/* skill section */

.skill-sec {
    min-height: 100vh;
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: var(--primary-color);
}

.skill-sec hr {
    border: 2px solid red;
    margin-bottom: 2rem;
}


.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
}

.sub-title h4 {
    color: #0ef;
}

.section.skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

.skills-container {
    padding: 40px;
    width: 600px;
    max-width: 90%;
}

.heading, .heading1 {
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px; 
}

.technical-bars .bar, .radial-bars .radial-bar {
    margin: 20px 0;
}

.technical-bars .bar .info, .radial-bars .radial-bar .text {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.technical-bars .bar .info span, .radial-bars .radial-bar .percentage {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    overflow: hidden;
    margin-top: 5px;
}

.technical-bars .bar .progress-line span {
    display: block;
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animateProgress 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform-origin: left;
    transform: scaleX(0);
}

@keyframes animateProgress {
    to {
        transform: scaleX(1);
    }
}

@keyframes showText {
    to {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 40%;
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.radial-bars .radial-bar svg {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.radial-bars .radial-bar .path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.path-1 { animation: animate-path1 1s linear forwards; }
.path-2 { animation: animate-path2 1s linear forwards; }
.path-3 { animation: animate-path3 1s linear forwards; }
.path-4 { animation: animate-path4 1s linear forwards; }

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}


/* projects */

.project-sec {
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #0a1919, #1f1f1d);
    color: var(--primary-color);
}

.project-sec hr {
    border: 2px solid red;
    margin-bottom: 2rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    text-align: center;
}

.container h2 {
    font-size: 36px;
    color: var(--heading-color);
    margin-bottom: 20px;
}

/* Project Cards */
.project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
    max-width: 800px;
    margin: 0 auto; 
}

.project h3 {
    font-size: 24px; 
    color: var(--heading-color);
    margin-bottom: 10px;
}

.project p {
    margin: 10px 0; 
    font-size: 16px;
    color: var(--text-color);
}

.project a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    color:rgb(58, 58, 233);
    text-decoration: underline;
}


/* contact section */
.contact-us-sec {
    min-height: 100vh;
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: var(--primary-color);
}

.contact-us-sec hr {
    border: 2px solid red;
    margin-bottom: 2rem;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.contact .content p {
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    gap: 50px; 
}

.contact-container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.contact-container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #d7f07f; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #000000;
}

.contact-container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fdf4f4;
    flex-direction: column;
    font-weight: 300;
}

.contact-container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #ffffff;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    color: #e91e63;
}

.contactForm .inputBox input[type="submit"] {
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contactForm .inputBox input[type="submit"]:hover {
    background-color: #0097a7;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-container .contactInfo {
        width: 100%;
        margin-bottom: 40px;
    }
    .contact-container .contactInfo,
    .contactForm {
        width: 100%;
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-info, .footer-nav, .footer-social {
    flex: 1;
    margin: 0 20px;
}

.footer-info p, .footer-nav ul, .footer-social a {
    color: #fff;
    margin: 10px 0;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
}

.footer-nav ul li {
    margin: 10px 0;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-nav ul li a:hover {
    color: #f39c12;
}

.footer-social {
    text-align: center;
}

.footer-social a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #f39c12;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}
